* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: "Poppins", sans-serif;
}

.category-header {
  height: 300px;
  background-color: #e9af99;
  padding: 0 40px;
  display: flex;
  align-items: center;
}

.header-inner {
  width: 50%;
}

.category-header .header-inner p:nth-child(1) {
  font-size: 33px;
  font-weight: 500;
  color: #323c49;
}

.category-header .header-inner p:nth-child(2) {
  font-size: 17px;
  font-weight: 400;
  color: #323c49;
}

.products {
  margin-bottom: 100px;
  padding: 0 30px;
}

.products-head {
  text-align: center;
  margin-top: 50px;
}

.products-head p:nth-child(1) {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}

.products-head p:nth-child(2) {
  font-size: 18px;
}

.products-cards {
  margin-top: 50px;
}

.product-card {
  position: relative;
  transition: all 0.3s;
  margin-bottom: 50px;
}

.product-card:hover {
  box-shadow: 0 0 8px 0 rgb(179, 179, 179);
}

.product-image img {
  width: 100%;
}

.product-title {
  margin-top: 20px;
}

.product-title p {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.product-price {
  font-weight: 400;
}

.product-detail-points ul {
  padding: 0;
}

.product-detail-points {
  margin-bottom: 60px;
}

.product-detail-points ul li {
  list-style: none;
  position: relative;
  padding-left: 15px;
  font-size: 15px;
  color: #323c49;
}

.product-detail-points ul li::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.65em;
  left: 0;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #323c49;
  border-radius: 100%;
}

.product-btn {
  position: absolute;
  bottom: 10px;
}

.product-btn a {
  color: #ff9e77;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
}

.product-btn a i {
  font-size: 12px;
  padding-left: 5px;
  transition: all 0.3s;
}

.product-btn a:hover i {
  padding-left: 13px;
}

@media screen and (max-width: 980px) {
  .products {
    padding: 0 10px;
  }
}
